@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;

	::-webkit-scrollbar {
		display: none;
	}
}

.separator[data-orientation="horizontal"] {
	height: 1px;
	width: 100%;
}

.separator[data-orientation="vertical"] {
	height: 80%;
	width: 1px;
}
